* {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  background-color: #38642b;
  color: #fff;
}

h1,
h2,
h3,
#text {
  color: #f2f76f;
}

.wrapper {
  margin: 0 auto;
  max-width: 60vw;
  width: 50vw;
  padding: 0.5rem;
}

a {
  color: #f2f76f;
}

a:hover {
  color: white;
}

form {
  display: grid;
  justify-items: center;
}

p.hidden {
  display: none;
}

p label {
  display: flex;
  flex-direction: column;
}

p input {
  border: 1px solid white;
  padding: .25rem;
  font-size: 1.4rem;
  max-width: 60vw;
  width: 50vw;
}

textarea[name="message"] {
  height: 50vh;
  border: 1px solid white;
  padding: .25rem;
  font-size: 1.4rem;
  max-width: 60vw;
  width: 50vw;
}

button[type="submit"] {
  background: grey;
  border: 1px solid white;
  padding: 0.75rem 2rem;
}

img.about-css-modules-module--avatar--2lRF7 {
  width: 300px;
  height: 300px;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  shape-margin: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

.gatsby-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

@media only screen and (max-width: 520px) {
  .wrapper {
    margin: 0 auto;
    max-width: 90vw;
    width: 90vw;
    padding: 0.5rem;
  }

  .main {
    display: inline-flex;
    max-width: 100vw;
  }

  img.about-css-modules-module--avatar--2lRF7 {
    width: 100%;
    height: 100%;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    shape-margin: 2rem;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}